.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS declarations */
.Repos-table {
  padding: 10px;

}

.Repos-table-header {
  display: flex;
}

.Repos-table-row {
  display: flex;
}

.click {
  cursor: pointer;
}

.cell {
  padding: 5px;
  width: 25%;
  border: 1px solid black;
  display: flex;
}

.repoCell {
  padding: 5px;
  border: 1px solid black;
}

.languageButton {
  padding: 2px 5px;
  font-size: 80%;
  font-weight: normal;
  border: 1px solid black;
  margin: 0px 5px 0px 5px;
  background-color: #AAAAAA;
  cursor: pointer;
}

.selected {
  background-color: white;
}

.Odd {
  background-color: #EEEEEE;
}

.Even {
  background-color: #D0D0D0;
}

.header{
    background-color: #BBBBBB;
    font-size: 120%;
    font-weight: bold;
}

.Repo-display {
  padding: 10px;
}

.back-button {
  padding: 2px 5px;
  margin: 10px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #AAAAAA;
  width: 100px;
  text-align: center;
}
